body {
    margin: 0;

    display: grid;
    grid-template-rows: 10% auto 10%;  /* Header, Main Content, Footer */
    grid-template-columns: 1fr; /* Single column layout for mobile, will adjust for larger screens */
    min-height: 100vh; /* Ensure full viewport height */
    min-width: 100%;

    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    place-self: center;
}

main {
    grid-area: main;
    place-self: center;
}

footer {
    grid-area: footer;
    place-self: center;
}