html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 100 dvw;
    overflow-x: hidden;
}

body {
    gap: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;  /* Header, Main Content, Footer */
    grid-template-columns: 1fr;
    min-height: 100dvh; /* Ensure full viewport height */
    min-width: 100dvw;

    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header, main, footer {
    margin: 0;
    padding: 0;
    
}
.montserrat-text {
    font-family: "Montserrat", serif, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

header {
    grid-area: header;
    display: flex;
    place-self: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin:0;
    gap: 2rem;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

:root{
    --hover-text-color: color(display-p3 1 0 0.331);
    --hover-background-color: color-mix(in display-p3, purple 70%, blue 30%);
    --normal-nav-color: color(display-p3 0.331 0 1);
}
nav ul li a {
    text-decoration: none;
    color: var(--normal-nav-color, #0000FF);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav ul li a:hover {
    text-decoration: underline; 
    color: var(--hover-text-color, #FF10F0);
    background-color: var(--hover-background-color, #4B0082);
}

main {
    grid-area: main;
    display: flex;
    place-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

main:has(aside){
    height: 90%;
    width: 95%;
    text-align: left;
    align-items: flex-start;

}

.contact-main {
    height: 95%;
}


hr {
    background-color: black;
    width: 100%;
  }

img {
    display: block;
    width: 50%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    transform: rotate(0.5turn);
}

iframe {
    display: block;
    width: 90%;
    height: 100dvh;
    border: none;
}

.video-box {
    position: relative;
    width: 90%;  
    height: 100dvh;
    overflow: hidden;  /* Prevent overflow */
}

.video-box iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

figcaption {
    text-align: center;
    padding-top: 0%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
form {
    width: 100%;
    height: 100%;
    padding: 1rem;
    animation: fadeIn 2s ease-in-out;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}


footer {
    grid-area: footer;
    display: flex;
    place-self: center;
    justify-content: space-around;
    gap: 1rem;
    padding-top: 5rem;
}

/* Small screens (phones) */
@media screen and (max-width: 600px) {
    
    nav ul {
        flex-direction: column; 
        gap: 1rem;
    }

    img {
        width: 100%; 
    }
}

/* Medium screens (tablets/laptops) */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  
    header, main, footer {
        font-size: 1rem;
    }

    main {
        width: 100%
    }

    nav ul {
        flex-direction: row; 
        gap: 1rem;
    }


    .montserrat-text {
        font-family: "Montserrat", serif;
        font-optical-sizing: none;
        font-weight: 400;
        font-style: normal;
      }

    img {
        width: 60%;
      }

    form {
        font-size: 1rem;
    }

    input, textarea, select {
        width: 100%; 
        font-size: 1rem;
    }

}

/* Large screens (desktops) */
@media screen and (min-width: 1281px) {
    header, main, footer {
        font-size: 1rem;
    }

    iframe {
        display: block;
        width: 100dvw;
        height: 100dvh;
        border-style: dashed;
        transform: scale(1.1);
        transform-origin: top left;
        margin: 0;
        padding: 0;
    }

    img {
        width: 85%;
      }
    form {
        font-size: 3rem;
    }

    input, textarea, select {
        width: 100%; 
        font-size: 2rem;
    }


}
