html {
    margin: auto;
}

body {
    margin: 0;

    display: grid;
    grid-template-rows: 1fr auto 10%;  /* Header, Main Content, Footer */
    grid-template-columns: 1fr; /* Single column layout for mobile, will adjust for larger screens */
    min-height: 100vh; /* Ensure full viewport height */

    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    place-self: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul li {
    display: flex;
    gap: 1rem; 
}

nav ul li a {
    display: flex;
    text-decoration: none;
    
}

nav ul li a:hover {
    text-decoration: underline; 
}

main {
    grid-area: main;
    place-self: center;
}

footer {
    grid-area: footer;
    place-self: center;
}