html {
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    gap: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;  /* Header, Main Content, Footer */
    grid-template-columns: 1fr;
    min-height: 100dvh; /* Ensure full viewport height */
    min-width: 90dvw;
    justify-content: center;

    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header, main, footer {
    margin: 0;
    padding: 0;
}
.montserrat-text {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

header {
    grid-area: header;
    display: flex;
    place-self: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin:0;
    gap: 2rem;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: color(display-p3 0.331 0 1);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav ul li a:hover {
    text-decoration: underline; 
    color: color(display-p3 1 0 0.331);
    background-color: color-mix(in display-p3, purple 70%, blue 30%);
}

main {
    grid-area: main;
    display: flex;
    place-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main:has(aside){
    text-align: left;
    align-items: flex-start;
}


img {
    display: block;
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    transform: rotate(0.5turn);
}

iframe {
    display: block;
    width: 100dvw;
    height: 100dvh;
    border: none;
}

figcaption {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
dialog {
    animation: fadeIn 2s ease-in-out;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}


footer {
    grid-area: footer;
    display: flex;
    place-self: center;
    justify-content: space-around;
    gap: 1rem;
}